body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 6x 20px;
}
  
.header-emoji {
    font-size: 3rem;
}

.header-title {
    margin: 0;
    font-size: 1.5rem;
}

.header-logged-as {
    margin: 5px 0 0;
    font-size: 1rem;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #FFFFFF;
    margin-top: 32px;
    
}

.card {
    margin-bottom: 24px;
}

.menu {
    height: 112px;
    width: 85%;
    padding-top: 24px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    text-align: center;
}


.alignleft {

    float: left;
}

.alignright {

    float: right;
}

.aligncenter {

    text-align: center;
    vertical-align: middle;
}

.ag-cell a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
}