<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Page</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/js/index.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

    <div class="table-wrapper">
        <div class="table-container">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>IP</th>
                        <th>Port</th>
                        <th>City</th>
                        <th>OS</th>
                        <th>Organization</th>
                        <th>Hostnames</th>
                        <th>Domains</th>
                        <th>EPSS</th>
                        <th class="vote-column">Vote</th>
                    </tr>
                    <!--
                    <tr>
                        <th><input type="text" class="search-input" id="serviceSearch" placeholder="Search Service"></th>
                        <th><input type="text" class="search-input" id="ipSearch" placeholder="Search IP"></th>
                        <th><input type="text" class="search-input" id="portSearch" placeholder="Search Port"></th>
                        <th><input type="text" class="search-input" id="citySearch" placeholder="Search City"></th>
                        <th><input type="text" class="search-input" id="osSearch" placeholder="Search OS"></th>
                        <th><input type="text" class="search-input" id="orgSearch" placeholder="Search Organization"></th>
                        <th><input type="text" class="search-input" id="hostnamesSearch" placeholder="Search Hostnames"></th>
                        <th><input type="text" class="search-input" id="domainsSearch" placeholder="Search Domains"></th>
                        <th><input type="text" class="search-input" id="epssSearch" placeholder="Search EPSS"></th>
                        <th></th>
                    </tr>
                -->
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="pagination">
            <button id="prevPage" class="page-btn">
                <i class="fas fa-angle-left"></i>
                &#9664;
            </button>
            <div id="pageNumbers" class="page-numbers"></div>
            <button id="nextPage" class="page-btn">
                <i class="fas fa-angle-right"></i>
                &#9654;
            </button>
        </div>
    </div>
</body>
</html>
